// Font.
$font: (
  primary: ("Roboto", sans-serif),
  secondary: ("PT Serif", serif)
);

// Palette.
$palette: (
  primary:       #536171,
  secondary:     lighten(#536171, 20%),
  meta:          darken(#ed8936, 40%),
  border:        darken(#ed8936, 50%),
  bg:            darken(#ed8936, 50%),
  accent:        #ed8936,
  accent-blue:   #108afb,
  accent-black:  #333b45,
  accent-red:    #f8646c
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/intro";
@import "imports/subscribe";
@import "imports/footer";
@import "imports/palettes";
